.container {
  position: relative;
  height: 400px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .container {
    height: 300px;
  }
}

.rect {
  fill: none;
  pointer-events: all;
}

.tooltip {
  margin: var(--spacing-32) 0 0 var(--spacing-60);

  font-weight: 500;

  color: var(--color-primary);
}
